<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/baseLayout}">

<head>
   <title>
      Payments service refunds
   </title>
</head>

<div id="bulk-refunds-upload"  layout:fragment="content">
    <h1 class="govuk-heading-xl">Payment service refunds</h1>
    <a href="/admin/payments/refunds" role="button" draggable="false" class="govuk-button govuk-!-margin-bottom-8" data-module="govuk-button">
      Upload refund file
    </a>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Failed refunds</h2>
        <p class="govuk-body">There 10 failed refunds.</p>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Retry refunds
        </button>
      </div>
    </div>
</div>

</html>



